<section>
    <div class="max-w-screen-xl px-6 mx-auto">
        <div class="max-w-screen-sm mx-auto mb-6 text-center">
            <h2 class="mb-4 text-4xl font-extrabold tracking-tight text-black dark:text-white">Meet the Board Members</h2>
            <p class="font-light text-black lg:mb-16 sm:text-xl dark:text-white">
                Our Board of Directors, plus dedicated staff of talented and diverse individuals make up the UGranted (GCED) team. We
                also work collaboratively with our local partners to strengthen economic growth county-wide.
            </p>
        </div>
        <div class="grid gap-8 mb-6 md:grid-cols-2">
            <div class="items-center rounded-lg shadow bg-zinc-50 sm:flex dark:bg-zinc-900 dark:border-zinc-700">
                <img class="w-full md:max-w-[36%] rounded-lg sm:rounded-none sm:rounded-l-lg sm:max-w-[30%]"
                         src="/images/webp/profile-350.webp"
                         alt="">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-black dark:text-white">
                        <a href="#">Member Name</a>
                    </h3>
                    <span class="text-black dark:text-white">Member Title</span>
                    <p class="mt-3 mb-4 text-sm text-black dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet quam.
                    </p>
                </div>
            </div>
            <div class="items-center rounded-lg shadow bg-zinc-50 sm:flex dark:bg-zinc-900 dark:border-zinc-700">
                <img class="w-full md:max-w-[36%] rounded-lg sm:rounded-none sm:rounded-l-lg sm:max-w-[30%]"
                         src="/images/webp/profile-350.webp"
                         alt="">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-black dark:text-white">
                        <a href="#">Member Name</a>
                    </h3>
                    <span class="text-black dark:text-white">Member Title</span>
                    <p class="mt-3 mb-4 text-sm text-black dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet quam.
                    </p>
                </div>
            </div>
            <div class="items-center rounded-lg shadow bg-zinc-50 sm:flex dark:bg-zinc-900 dark:border-zinc-700">
                <img class="w-full md:max-w-[36%] rounded-lg sm:rounded-none sm:rounded-l-lg sm:max-w-[30%]"
                         src="/images/webp/profile-350.webp"
                         alt="">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-black dark:text-white">
                        <a href="#">Member Name</a>
                    </h3>
                    <span class="text-black dark:text-white">Member Title</span>
                    <p class="mt-3 mb-4 text-sm text-black dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet quam.
                    </p>
                </div>
            </div>
            <div class="items-center rounded-lg shadow bg-zinc-50 sm:flex dark:bg-zinc-900 dark:border-zinc-700">
                <img class="w-full md:max-w-[36%] rounded-lg sm:rounded-none sm:rounded-l-lg sm:max-w-[30%]"
                         src="/images/webp/profile-350.webp"
                         alt="">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-black dark:text-white">
                        <a href="#">Member Name</a>
                    </h3>
                    <span class="text-black dark:text-white">Member Title</span>
                    <p class="mt-3 mb-4 text-sm text-black dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet quam.
                    </p>
                </div>
            </div>
            <div class="items-center rounded-lg shadow bg-zinc-50 sm:flex dark:bg-zinc-900 dark:border-zinc-700">
                <img class="w-full md:max-w-[36%] rounded-lg sm:rounded-none sm:rounded-l-lg sm:max-w-[30%]"
                         src="/images/webp/profile-350.webp"
                         alt="">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-black dark:text-white">
                        <a href="#">Member Name</a>
                    </h3>
                    <span class="text-black dark:text-white">Member Title</span>
                    <p class="mt-3 mb-4 text-sm text-black dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet quam.
                    </p>
                </div>
            </div>
            <div class="items-center rounded-lg shadow bg-zinc-50 sm:flex dark:bg-zinc-900 dark:border-zinc-700">
                <img class="w-full md:max-w-[36%] rounded-lg sm:rounded-none sm:rounded-l-lg sm:max-w-[30%]"
                         src="/images/webp/profile-350.webp"
                         alt="">
                <div class="p-5">
                    <h3 class="text-xl font-bold tracking-tight text-black dark:text-white">
                        <a href="#">Member Name</a>
                    </h3>
                    <span class="text-black dark:text-white">Member Title</span>
                    <p class="mt-3 mb-4 text-sm text-black dark:text-white">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec sit amet quam.
                    </p>
                </div>
            </div>

        </div>
    </div>
</section>