<section>
    <div class="max-w-screen-lg px-6 pb-8 mx-auto md:pb-12">
        <div class="max-w-screen-md mx-auto mb-6 text-center md:mt-16 lg:mb-16">
            <h2 class="mb-4 text-4xl font-extrabold leading-normal tracking-tight text-zinc-900 dark:text-white">Board
                of Directors</h2>
            <p class="font-light sm:text-xl text-zinc-900 dark:text-white">
                Our Board of Directors, plus dedicated staff of talented and diverse individuals make up the UGranted
                (GCED) team. We also work collaboratively with our local partners to strengthen economic growth
                county-wide.
            </p>
        </div>
        <div class="grid grid-cols-2 gap-6 text-center md:grid-cols-3">
            <div>
                <img src="/images/webp/bod-placeholder.webp" alt="" width="" height=""
                     class="object-fill overflow-hidden rounded-full shadow-lg ring-4 ring-black/40 ring-zinc-900/10 dark:ring-zinc-200/20 shadow-zinc-300/30 dark:shadow-zinc-800/50">
                <h3 class="mt-4 text-xl font-semibold leading-normal tracking-tight text-zinc-900 dark:text-white">
                    Member Name</h3>
                <p class="font-light text-black lg:mb-2 sm:text-xl dark:text-zinc-100">Member Title</p>
            </div>
            <div>
                <img src="/images/webp/bod-placeholder.webp" alt="" width="" height=""
                     class="object-fill overflow-hidden rounded-full shadow-lg ring-4 ring-black/40 ring-zinc-900/10 dark:ring-zinc-200/20 shadow-zinc-300/30 dark:shadow-zinc-800/50">
                <h3 class="mt-4 text-xl font-semibold leading-normal tracking-tight text-zinc-900 dark:text-white">
                    Member Name</h3>
                <p class="font-light text-black lg:mb-2 sm:text-xl dark:text-zinc-100">Member Title</p>
            </div>
            <div>
                <img src="/images/webp/bod-placeholder.webp" alt="" width="" height=""
                     class="object-fill overflow-hidden rounded-full shadow-lg ring-4 ring-black/40 ring-zinc-900/10 dark:ring-zinc-200/20 shadow-zinc-300/30 dark:shadow-zinc-800/50">
                <h3 class="mt-4 text-xl font-semibold leading-normal tracking-tight text-zinc-900 dark:text-white">
                    Member Name</h3>
                <p class="font-light text-black lg:mb-2 sm:text-xl dark:text-zinc-100">Member Title</p>
            </div>
            <div>
                <img src="/images/webp/bod-placeholder.webp" alt="" width="" height=""
                     class="object-fill overflow-hidden rounded-full shadow-lg ring-4 ring-black/40 ring-zinc-900/10 dark:ring-zinc-200/20 shadow-zinc-300/30 dark:shadow-zinc-800/50">
                <h3 class="mt-4 text-xl font-semibold leading-normal tracking-tight text-zinc-900 dark:text-white">
                    Member Name</h3>
                <p class="font-light text-black lg:mb-2 sm:text-xl dark:text-zinc-100">Member Title</p>
            </div>
            <div>
                <img src="/images/webp/bod-placeholder.webp" alt="" width="" height=""
                     class="object-fill overflow-hidden rounded-full shadow-lg ring-4 ring-black/40 ring-zinc-900/10 dark:ring-zinc-200/20 shadow-zinc-300/30 dark:shadow-zinc-800/50">
                <h3 class="mt-4 text-xl font-semibold leading-normal tracking-tight text-zinc-900 dark:text-white">
                    Member Name</h3>
                <p class="font-light text-black lg:mb-2 sm:text-xl dark:text-zinc-100">Member Title</p>
            </div>
            <div>
                <img src="/images/webp/bod-placeholder.webp" alt="" width="" height=""
                     class="object-fill overflow-hidden rounded-full shadow-lg ring-4 ring-black/40 ring-zinc-900/10 dark:ring-zinc-200/20 shadow-zinc-300/30 dark:shadow-zinc-800/50">
                <h3 class="mt-4 text-xl font-semibold leading-normal tracking-tight text-zinc-900 dark:text-white">
                    Member Name</h3>
                <p class="font-light text-black lg:mb-2 sm:text-xl dark:text-zinc-100">Member Title</p>
            </div>

        </div>
        <div class="pt-12 text-center lg:mb-8">
            <a href="/board-members"
               class="inline-flex items-center text-lg font-medium transition ease-in-out text-primary-600 hover:text-primary-800 dark:text-primary-500 dark:hover:text-primary-700 group">
                Meet the Board
                <svg class="w-6 h-6 ml-1 group-hover:ml-2" fill="currentColor" viewBox="0 0 20 20"
                     xmlns="http://www.w3.org/2000/svg" version="1.1">
                    <path
                          d="M14.713,11.089L5.426,11.089C4.846,11.089 4.376,10.619 4.376,10.039C4.376,9.46 4.846,8.989 5.426,8.989L14.792,8.989L12.509,6.707C12.329,6.521 12.229,6.271 12.229,6.012C12.229,5.464 12.68,5.012 13.229,5.012C13.488,5.012 13.737,5.113 13.923,5.293L17.923,9.293C18.311,9.681 18.311,10.319 17.923,10.707L13.923,14.707C13.535,15.095 12.897,15.095 12.509,14.707C12.121,14.319 12.121,13.681 12.509,13.293L14.713,11.089Z" />
                </svg>
            </a>
        </div>
    </div>
</section>